*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(187, 187, 187);
}
.bg{
    position:sticky;
    top:0px;
    margin:auto;
    background-image: url(../img/OperaPoster.1b.jpg);
    background-size: 850px;
    width:850px;
    height:1100px;
    background-position-y: -347px;
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    border:1px solid black;
}
.container{
    position: relative;
    top: -962px;
    width: 660px;
    margin:auto;
    border: 1px solid black;
    background-color: rgba(187, 187, 187, 0.9);
}
.main{
    position:sticky;
    top:100px;
    bottom:10px;
    padding:30px;
    line-height: 1.5;
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.youTube{
    margin:auto;
}
.pullquote{
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Kufam', cursive;
    font-size: large;
    background-color: rgb(166, 166, 167);
}
.pullquote#odd{    
    float:left;
    margin-right:5%;
    border-bottom-right-radius: 50%;
    margin-top:10px;
}
.pullquote#even{    
    float:right;
    margin-left:5%;
    border-bottom-left-radius: 50%;
    text-align: right;
}
p{
    margin:4px;
}
p::first-letter{
    margin-left:15px;
}
.desc{
    border-top:5px dashed grey;
    margin-top: 5px;
    margin-bottom: 10px;
}
.lyrics{
    font-family: 'Vollkorn', cursive;
    margin-left: 15%;
    line-height: 1.25;
    margin-top: 10px;
    font-style: italic;
}
.acknowledgements{
    margin-top:40px;
    font-size: medium;
    border-top:4px dotted black;
}